<article>
  <h1>Liste des diagnostiques</h1>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Aide</th>
        <th>Adulte</th>
        <th>Durée</th>
        <th>Diagnostique</th>
        <th>Département</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% if user_signed_in? && current_user.is_admin? %>
        <% @diagnostics.each do |diagnostic| %>
          <tr>
            <td><%= diagnostic.name %></td>
            <td><%= diagnostic.description %></td>
            <td><%= diagnostic.help %></td>
            <td><%= diagnostic.adult %></td>
            <td><%= diagnostic.duration %></td>
            <td><%= diagnostic.diagnostic ? diagnostic.diagnostic : "" %></td>
            <td><%= diagnostic.departement ? diagnostic.departement.name : "" %></td>
            <td><%= link_to 'Voir', diagnostic %></td>
            <td><%= link_to 'Éditer', edit_diagnostic_path(diagnostic) %></td>
            <td><%= link_to 'Détruire', diagnostic, method: :delete, data: { confirm: 'Êtes-vous sur ?' } %></td>
          </tr>
          <br />
          <%= link_to 'Ajouter un diagnostique', new_diagnostic_path %>
        <% end %>
      <% else %>
        <% @diagnostics.each do |diagnostic| %>
          <%= diagnostic.to_json %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</article>
