<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diagnostic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnostic.description %>
</p>

<p>
  <strong>Help:</strong>
  <%= @diagnostic.help %>
</p>

<p>
  <strong>Adult:</strong>
  <%= @diagnostic.adult %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @diagnostic.duration %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @diagnostic.diagnostic ? @diagnostic.diagnostic.name : "" %>
</p>

<p>
  <strong>Departement:</strong>
  <%= @diagnostic.departement ? @diagnostic.departement.name : "" %>
</p>

<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<% end %>
<%= link_to 'Back', diagnostics_path %>
