<article>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nom :</strong>
    <%= @diagnostic.name %>
  </p>

  <p>
    <strong>Description :</strong>
    <%= @diagnostic.description %>
  </p>

  <p>
    <strong>Aide :</strong>
    <%= @diagnostic.help %>
  </p>

  <p>
    <strong>Adulte :</strong>
    <%= @diagnostic.adult %>
  </p>

  <p>
    <strong>Durée :</strong>
    <%= @diagnostic.duration %>
  </p>

  <p>
    <strong>Diagnostique :</strong>
    <%= @diagnostic.diagnostic ? @diagnostic.diagnostic.name : "" %>
  </p>

  <p>
    <strong>Département :</strong>
    <%= @diagnostic.departement ? @diagnostic.departement.name : "" %>
  </p>

  <% if user_signed_in? && current_user.is_admin? %>
    <%= link_to 'Éditer', edit_diagnostic_path(@diagnostic) %> |
  <% end %>
  <%= link_to 'Retour', diagnostics_path %>
</article>
