<%= form_for(@tutor_patient) do |f| %>
  <% if @tutor_patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor_patient.errors.count, "error") %> prohibited this tutor_patient from being saved:</h2>

      <ul>
      <% @tutor_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tutor_id %><br>
    <%= f.text_field :tutor_id %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
