<p id="notice"><%= notice %></p>

<h1>Listing Tutor Patients</h1>

<table>
  <thead>
    <tr>
      <th>Tutor</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutor_patients.each do |tutor_patient| %>
      <tr>
        <td><%= tutor_patient.tutor %></td>
        <td><%= tutor_patient.patient %></td>
        <td><%= link_to 'Show', tutor_patient %></td>
        <td><%= link_to 'Edit', edit_tutor_patient_path(tutor_patient) %></td>
        <td><%= link_to 'Destroy', tutor_patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor patient', new_tutor_patient_path %>
