<p id="notice"><%= notice %></p>

<p>
  <strong>Tutor:</strong>
  <%= @tutor_patient.tutor %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @tutor_patient.patient %>
</p>

<%= link_to 'Edit', edit_tutor_patient_path(@tutor_patient) %> |
<%= link_to 'Back', tutor_patients_path %>
