<h1>Listing structures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Link</th>
      <th>Juridical</th>
      <th>Departement</th>
      <th>Published</th>
      <th>Message</th>
      <th>Reply</th>
      <th>User</th>
      <th>Admin</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structures.each do |structure| %>
      <% if structure.approved == 1 || (user_signed_in? && (current_user.is_admin? || current_user == structure.user)) %>
        <tr>
          <td><%= structure.name %></td>
          <td><%= structure.description %></td>
          <td><%= structure.address %></td>
          <td><%= structure.longitude %></td>
          <td><%= structure.latitude %></td>
          <td><%= structure.email %></td>
          <td><%= structure.phone %></td>
          <td><%= structure.link %></td>
          <td><%= structure.juridical ? structure.juridical.name : "" %></td>
          <td><%= structure.departement ? structure.departement.name : "" %></td>
          <td><%= structure.published %></td>
          <td><%= structure.message %></td>
          <td><%= structure.reply %></td>
          <td><%= structure.user ? structure.user.email : "" %></td>
          <td><%= structure.admin ? structure.admin.email : "" %></td>
          <td><%= structure.approved == 1 ? "accepted" : (structure.approved == "2" ? "refused" : "pending") %></td>
          <td><%= link_to 'Show', structure %></td>
          <% if user_signed_in? %>
            <% if current_user.is_admin? || (current_user == structure.user && structure.approved == 0) %>
              <td><%= link_to 'Edit', edit_structure_path(structure) %></td>
            <% end %>
            <% if current_user.is_admin? || current_user == structure.user %>
              <td><%= link_to 'Destroy', structure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<br />

<script type="text/javascript">
  handler = Gmaps.build('Google');
    handler.buildMap({
      provider: {
        disableDefaultUI: true
        // pass in other Google Maps API options here
      },
      internal: {
        id: 'map'
      }
    },
    function() {
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
    }
  );
</script>


<br />

<%= link_to 'New Structure', new_structure_path %>
