<h1>Listing structures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Juridical</th>
      <th>Description</th>
      <th>Address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Link</th>
      <th>Departement</th>
      <th>Published</th>
      <th>Message</th>
      <th>Reply</th>
      <th>User</th>
      <th>Admin</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structures.each do |structure| %>
      <tr>
        <td><%= structure.name %></td>
        <td><%= structure.juridical %></td>
        <td><%= structure.description %></td>
        <td><%= structure.address %></td>
        <td><%= structure.longitude %></td>
        <td><%= structure.latitude %></td>
        <td><%= structure.email %></td>
        <td><%= structure.phone %></td>
        <td><%= structure.link %></td>
        <td><%= structure.departement %></td>
        <td><%= structure.published %></td>
        <td><%= structure.message %></td>
        <td><%= structure.reply %></td>
        <td><%= structure.user %></td>
        <td><%= structure.admin %></td>
        <td><%= structure.approved %></td>
        <td><%= link_to 'Show', structure %></td>
        <td><%= link_to 'Edit', edit_structure_path(structure) %></td>
        <td><%= link_to 'Destroy', structure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<div style='width: 800px;'>
		<div id="map" style='width: 800px; height: 400px;'></div>
</div>

<br>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
	provider: {
		disableDefaultUI: true
			// pass in other Google Maps API options here
	},
	internal: {
		id: 'map'
	}
},
function(){
	markers = handler.addMarkers(<%=raw @hash.to_json %>);
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();
}
);
</script>


<br>

<%= link_to 'New Structure', new_structure_path %>
