<article>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nom :</strong>
    <%= @structure.name %>
  </p>

  <p>
    <strong>Description :</strong>
    <%= @structure.description %>
  </p>

  <p>
    <strong>Adresse :</strong>
    <%= @structure.address %>
  </p>

  <p>
    <strong>Courriel :</strong>
    <%= @structure.email %>
  </p>

  <p>
    <strong>Numéro de Téléphone :</strong>
    <%= @structure.phone %>
  </p>

  <p>
    <strong>Lien :</strong>
    <%= @structure.link %>
  </p>

  <p>
    <strong>Longitude :</strong>
    <%= @structure.longitude %>
  </p>

  <p>
    <strong>Latitude :</strong>
    <%= @structure.latitude %>
  </p>

  <p>
    <strong>Type d'Etablissement :</strong>
    <%= @structure.juridical ? @structure.juridical.name : "" %>
  </p>

  <p>
    <strong>Publié le :</strong>
    <%= @structure.published %>
  </p>

  <p>
    <strong>Approuvé :</strong>
    <%= @structure.approved == true ? "Oui" : "En attente" %>
  </p>

  <% if user_signed_in? %>
    <% if current_user.is_admin || current_user == @structure.user %>
      <p>
        <strong>Utilisateur :</strong>
        <%= @structure.user ? @structure.user.email : "" %>
      </p>

      <p>
        <strong>Administrateur :</strong>
        <%= @structure.admin ? @structure.admin.email : "" %>
      </p>

      <p>
        <strong>Message :</strong>
        <%= @structure.message %>
      </p>

      <p>
        <strong>Réponse :</strong>
        <%= @structure.reply %>
      </p>
    <% end %>

    <% if current_user.is_admin || (current_user == @structure.user && @structure.approved == false) %>
      <%= link_to 'Éditer', edit_structure_path(@structure) %> |
    <% end %>
  <% end %>
  <%= link_to 'Retour', structures_path %>
</article>
