<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @structure.name %>
</p>

<p>
  <strong>Juridical:</strong>
  <%= @structure.juridical %>
</p>

<p>
  <strong>Description:</strong>
  <%= @structure.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @structure.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @structure.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @structure.latitude %>
</p>

<p>
  <strong>Email:</strong>
  <%= @structure.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @structure.phone %>
</p>

<p>
  <strong>Link:</strong>
  <%= @structure.link %>
</p>

<p>
  <strong>Departement:</strong>
  <%= @structure.departement %>
</p>

<p>
  <strong>Published:</strong>
  <%= @structure.published %>
</p>

<% if current_user.is_admin %>
  <p>
    <strong>Message:</strong>
    <%= @structure.message %>
  </p>

  <p>
    <strong>Reply:</strong>
    <%= @structure.reply %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @structure.user %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @structure.admin %>
  </p>
<% end %>

<p>
  <strong>Approved:</strong>
  <%= @structure.approved %>
</p>

<%= link_to 'Edit', edit_structure_path(@structure) %> |
<%= link_to 'Back', structures_path %>
