<%= form_for(@diagnostic_tree) do |f| %>
  <% if @diagnostic_tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagnostic_tree.errors.count, "error") %> prohibited this diagnostic_tree from being saved:</h2>

      <ul>
      <% @diagnostic_tree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diagnostic_id %><br>
    <%= f.text_field :diagnostic_id %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_id %><br>
    <%= f.text_field :diagnostic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
