<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnostic:</strong>
  <%= @diagnostic_tree.diagnostic %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @diagnostic_tree.diagnostic %>
</p>

<%= link_to 'Edit', edit_diagnostic_tree_path(@diagnostic_tree) %> |
<%= link_to 'Back', diagnostic_trees_path %>
