<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @map.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @map.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @map.description %>
</p>

<p>
  <strong>Departement:</strong>
  <%= @map.departement %>
</p>

<p>
  <strong>Type:</strong>
  <%= @map.type %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
