<p id="notice"><%= notice %></p>

<p>
  <strong>Published:</strong>
  <%= @proposition.published %>
</p>

<p>
  <strong>Message:</strong>
  <%= @proposition.message %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @proposition.reply %>
</p>

<p>
  <strong>User:</strong>
  <%= @proposition.user %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @proposition.approved %>
</p>

<%= link_to 'Edit', edit_proposition_path(@proposition) %> |
<%= link_to 'Back', propositions_path %>
