<article>
  <% if user_signed_in? && current_user.is_admin? %>
    <h1>Liste des langues</h1>

    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @languages.each do |language| %>
          <tr>
            <td><%= language.name %></td>
            <td><%= link_to 'Voir', language %></td>
            <td><%= link_to 'Éditer', edit_language_path(language) %></td>
            <td><%= link_to 'Détruire', language, method: :delete, data: { confirm: 'Êtes-vous sur ?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Ajouter une langue', new_language_path %>
  <% end %>
</article>
