<%= form_for(@user) do |f| %>
  <% if user_signed_in? %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if current_user.is_admin? %>
      <div class="field">
        <%= f.label :is_admin, 'Administrateur :' %><br>
        <%= f.check_box :is_admin %>
      </div>
    <% end %>
    <% if current_user == @user %>
      <div class="field">
        <%= f.label :link, 'Lien :' %><br>
        <%= f.text_field :link %>
      </div>
      <div class="field">
        <%= f.label :gender, 'Genre :' %><br />
        <%= f.label :gender, "Homme", :value => "false" %>
        <%= f.radio_button :gender, false, :checked => current_user.gender == false %>
        <%= f.label :gender, "Femme", :value => "true"  %>
        <%= f.radio_button :gender, true, :checked => current_user.gender == true %>
      </div>
      <div class="field">
        <%= f.label :birthdate, 'Date de Naissance :' %><br>
        <%= f.date_select :birthdate %>
      </div>
      <div class="field">
        <%= f.label :begin, 'Début des demarches administratives :' %><br>
        <%= f.date_select :begin %>
      </div>
      <div class="field">
        <%= f.label :end, 'Fin des demarches administratives :' %><br>
        <%= f.date_select :end %>
      </div>
      <div class="field">
        <%= f.label :info_research, 'Permettre l\'accès à ses informations par des chercheurs : ' %><br>
        <%= f.check_box :info_research %>
      </div>
      <div class="field">
        <%= f.label :email_research, `Permettre l'accès à son email par des chercheurs :` %><br>
        <%= f.check_box :email_research %>
      </div>
      <div class="field">
        <%= f.label :departement_id, 'Adresse (Département) :' %><br>
        <%= f.collection_select :departement_id, Departement.order(:name), :id, :name, include_blank: true %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Enregistrer" %>
    </div>
  <% end %>
<% end %>
