<article>
  <% if user_signed_in? %>

    <% if current_user.is_admin? %>
      <p>
        <strong>Administrateur :</strong>
        <%= @user.is_admin %>
      </p>
    <% end %>

    <% if current_user == @user || current_user.is_admin? %>
      <p>
        <strong>Permettre l'accès à son email par des chercheurs :</strong>
        <%= @user.email_research %>
      </p>

      <p>
        <strong>Permettre l'accès à ses informations par des chercheurs :</strong>
        <%= @user.info_research %>
      </p>
    <% end %>

    <% if current_user == @user || (current_user.is_admin? && @user.email_research?) %>
      <p>
        <strong>Courriel :</strong>
        <%= @user.email %>
      </p>
    <% end %>

    <% if current_user == @user || (current_user.is_admin? && @user.info_research?) %>
      <p>
        <strong>Lien :</strong>
        <%= @user.link %>
      </p>

      <p>
        <strong>Genre :</strong>
        <%= @user.gender == false ? "Homme" : "Femme" %>
      </p>

      <p>
        <strong>Date de Naissance :</strong>
        <%= @user.birthdate %>
      </p>

      <p>
        <strong>Début des demarches administratives :</strong>
        <%= @user.begin %>
      </p>

      <p>
        <strong>Fin des demarches administratives :</strong>
        <%= @user.end %>
      </p>

      <p>
        <strong>Adresse (Département) :</strong>
        <%= @user.departement ? @user.departement.name : "" %>
      </p>
    <% end %>

    <%= link_to 'Éditer', edit_user_path(@user) %> |
    <%= link_to 'Retour', users_path %>

  <% end %>
</article>
