<% if user_signed_in? %>
  <% if current_user.is_admin || current_user == @user %>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Administrateur :</strong>
      <%= @user.is_admin %>
    </p>

    <p>
      <strong>Lien :</strong>
      <%= @user.link %>
    </p>

    <p>
      <strong>Sexe :</strong>
      <%= @user.gender == 1 ? "Homme" : (@user.gender == "2" ? "Femme" : "Non Renseigné") %>
    </p>

    <p>
      <strong>Date de Naissance :</strong>
      <%= @user.birthdate %>
    </p>

    <p>
      <strong>Begin :</strong>
      <%= @user.begin %>
    </p>

    <p>
      <strong>End :</strong>
      <%= @user.end %>
    </p>

    <p>
      <strong>Permettre l'accès à ses informations par des chercheurs :</strong>
      <%= @user.info_research %>
    </p>

    <p>
      <strong>Permettre l'accès à son email par des chercheurs :</strong>
      <%= @user.email_research %>
    </p>

    <p>
      <strong>Adresse (Département):</strong>
      <%= @user.departement ? @user.departement.name : "" %>
    </p>

    <p>
      <strong>Diagnostic:</strong>
      <%= @user.diagnostic ? @user.diagnostic.name : "" %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  <% end %>
<% end %>
