<%= form_for(@departement) do |f| %>
  <% if @departement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departement.errors.count, "error") %> prohibited this departement from being saved:</h2>

      <ul>
      <% @departement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nom :' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Enregistrer" %>
  </div>
<% end %>
