<article>
  <% if user_signed_in? && current_user.is_admin? %>
    <h1>Liste des départements</h1>

    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @departements.each do |departement| %>
          <tr>
            <td><%= departement.name %></td>
            <td><%= link_to 'Voir', departement %></td>
            <td><%= link_to 'Éditer', edit_departement_path(departement) %></td>
            <td><%= link_to 'Détruire', departement, method: :delete, data: { confirm: 'Êtes-vous sur ?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Ajouter un département', new_departement_path %>
  <% end %>
</article>
