<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_area :logo %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.date_select :published, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :admin_id %><br>
    <%= f.text_field :admin_id, disabled: true %>
  </div>
  <% if current_user.is_admin? || @project.user == current_user %>
    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_area :message %>
    </div>
  <% end %>
  <% if current_user.is_admin? %>
    <div class="field">
      <%= f.label :reply %><br>
      <%= f.text_area :reply %>
    </div>
    <div class="field">
      <%= f.label :approved %><br>
      <%= f.check_box :approved %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
