<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>Link</th>
      <th>Notation</th>
      <th>Interoperable</th>
      <th>Customizable</th>
      <th>Relation</th>
      <th>Usability</th>
      <th>Proposition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.from %></td>
        <td><%= project.link %></td>
        <td><%= project.notation %></td>
        <td><%= project.interoperable %></td>
        <td><%= project.customizable %></td>
        <td><%= project.relation %></td>
        <td><%= project.usability %></td>
        <td><%= project.proposition %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
