<article>
  <h1>Projet</h1>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Lien</th>
        <th>Description</th>
        <th>From</th>
        <th>Logo</th>
        <th>Publié</th>
        <th>Message</th>
        <th>Réponse</th>
        <th>Utilisateur</th>
        <th>Administrateur</th>
        <th>Approuvé</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <% if project.approved == true || (user_signed_in? && (current_user.is_admin? || current_user == project.user)) %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.link %></td>
            <td><%= project.description %></td>
            <td><%= project.from %></td>
            <td><%= project.logo %></td>
            <td><%= project.published %></td>
            <td><%= project.message %></td>
            <td><%= project.reply %></td>
            <td><%= project.user ? project.user.email : "" %></td>
            <td><%= project.admin ? project.admin.email : "" %></td>
            <td><%= project.approved == true ? "Oui" : "En attente" %></td>
            <td><%= link_to 'Voir', project %></td>
            <% if user_signed_in? %>
              <% if current_user.is_admin? || (current_user == project.user && project.approved == false) %>
                <td><%= link_to 'Éditer', edit_project_path(project) %></td>
              <% end %>
              <% if current_user.is_admin? || current_user == project.user %>
                <td><%= link_to 'Détruire', project, method: :delete, data: { confirm: 'Êtes-vous sur ?' } %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'Proposer un project', new_project_path %>
  <% end %>
</article>
