<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>From:</strong>
  <%= @project.from %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @project.logo %>
</p>

<p>
  <strong>Published:</strong>
  <%= @project.published %>
</p>

<% if current_user.is_admin %>
  <p>
    <strong>Message:</strong>
    <%= @project.message %>
  </p>

  <p>
    <strong>Reply:</strong>
    <%= @project.reply %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @project.user %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @project.admin %>
  </p>
<% end %>

<p>
  <strong>Approved:</strong>
  <%= @project.approved %>
</p>

<% if current_user.is_admin || current_user == @project.user %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
