<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudonym:</strong>
  <%= @patient.pseudonym %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @patient.password %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @patient.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
