<%= form_for(@paper) do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nom :' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :link, 'Lien :' %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description, 'Description :' %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :from, 'Date de parution :' %><br>
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :language_id, 'Langue :' %><br>
    <%= f.collection_select :language_id, Language.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :published, 'Publié le :' %><br>
    <%= f.date_select :published, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :user_id, 'Utilisateur :' %><br>
    <%= f.text_field :user_id, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :admin_id, 'Administrateur :' %><br>
    <%= f.text_field :admin_id, disabled: true %>
  </div>
  <% if current_user.is_admin? || @paper.user == current_user %>
    <div class="field">
      <%= f.label :message, 'Message :' %><br>
      <%= f.text_area :message %>
    </div>
  <% end %>
  <% if current_user.is_admin? %>
    <div class="field">
      <%= f.label :reply, 'Réponse :' %><br>
      <%= f.text_area :reply %>
    </div>
    <div class="field">
      <%= f.label :approved, 'Approuvé :' %><br>
      <%= f.check_box :approved %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Enregistrer" %>
  </div>
<% end %>
