<h1>Listing papers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Description</th>
      <th>From</th>
      <th>Language</th>
      <th>Diagnostic</th>
      <th>Published</th>
      <th>Message</th>
      <th>Reply</th>
      <th>User</th>
      <th>Admin</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <% if current_user.is_admin? || current_user == paper.user || paper.approved == 1 %>
        <tr>
          <td><%= paper.name %></td>
          <td><%= paper.link %></td>
          <td><%= paper.description %></td>
          <td><%= paper.from %></td>
          <td><%= paper.language %></td>
          <td><%= paper.diagnostic %></td>
          <td><%= paper.published %></td>
          <td><%= paper.message %></td>
          <td><%= paper.reply %></td>
          <td><%= paper.user ? paper.user.email : "" %></td>
          <td><%= paper.admin ? paper.admin.email : "" %></td>
          <td><%= paper.approved %></td>
          <td><%= link_to 'Show', paper %></td>
          <% if current_user.is_admin? || (current_user == paper.user && paper.approved == 0) %>
            <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
          <% end %>
          <% if current_user.is_admin? || current_user == paper.user %>
            <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>
