<article>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nom :</strong>
    <%= @paper.name %>
  </p>

  <p>
    <strong>Lien :</strong>
    <%= @paper.link %>
  </p>

  <p>
    <strong>Description :</strong>
    <%= @paper.description %>
  </p>

  <p>
    <strong>Date de parution :</strong>
    <%= @paper.from %>
  </p>

  <p>
    <strong>Langue :</strong>
    <%= @paper.language ? @paper.language.name : "" %>
  </p>

  <p>
    <strong>Diagnostique :</strong>
    <%= @paper.diagnostic ? @paper.diagnostic.name : "" %>
  </p>

  <p>
    <strong>Publié le :</strong>
    <%= @paper.published %>
  </p>

  <p>
    <strong>Approuvé :</strong>
    <%= @paper.approved == true ? "Oui" : "En attente" %>
  </p>

  <% if user_signed_in? %>
    <% if current_user.is_admin || current_user == @paper.user %>
      <p>
        <strong>Utilisateur :</strong>
        <%= @paper.user ? @paper.user.email : "" %>
      </p>

      <p>
        <strong>Administrateur :</strong>
        <%= @paper.admin ? @paper.admin.email : "" %>
      </p>

      <p>
        <strong>Message :</strong>
        <%= @paper.message %>
      </p>

      <p>
        <strong>Réponse :</strong>
        <%= @paper.reply %>
      </p>
    <% end %>

    <% if current_user.is_admin || (current_user == @paper.user && @paper.approved == false) %>
      <%= link_to 'Éditer', edit_paper_path(@paper) %> |
    <% end %>
  <% end %>
  <%= link_to 'Retour', papers_path %>
</article>
