<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paper.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @paper.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @paper.description %>
</p>

<p>
  <strong>From:</strong>
  <%= @paper.from %>
</p>

<p>
  <strong>Language:</strong>
  <%= @paper.language ? @paper.language.name : "" %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @paper.diagnostic ? @paper.diagnostic.name : "" %>
</p>

<p>
  <strong>Published:</strong>
  <%= @paper.published %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @paper.approved == 1 ? "accepted" : (@paper.approved == "2" ? "refused" : "pending") %>
</p>

<% if user_signed_in? %>
  <% if current_user.is_admin || current_user == @paper.user %>
    <p>
      <strong>User:</strong>
      <%= @paper.user ? @paper.user.email : "" %>
    </p>

    <p>
      <strong>Admin:</strong>
      <%= @paper.admin ? @paper.admin.email : "" %>
    </p>

    <p>
      <strong>Message:</strong>
      <%= @paper.message %>
    </p>

    <p>
      <strong>Reply:</strong>
      <%= @paper.reply %>
    </p>
  <% end %>

  <% if current_user.is_admin || (current_user == @paper.user && @paper.approved == 0) %>
    <%= link_to 'Edit', edit_paper_path(@paper) %> |
  <% end %>
<% end %>
<%= link_to 'Back', papers_path %>
