<%= form_for(@juridical) do |f| %>
  <% if @juridical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@juridical.errors.count, "error") %> prohibited this juridical from being saved:</h2>

      <ul>
      <% @juridical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nom :' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Enregistrer" %>
  </div>
<% end %>
