<!DOCTYPE html>
<html>
<head>
  <title>Ref</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <% if user_signed_in? %>
         <a href="users/sign_out">sign out</a>
         <p><%= current_user.name %></p>
       <% else %>
         <a href="users/sign_in">sign in</a>
       <% end %>

<%= yield %>

</body>
</html>
