<!DOCTYPE html>
<html>
  <head>
    <title>Ref</title>
    <link rel="icon" href="/assets/loutre/loutre neutre.svg">
    <%= javascript_include_tag 'https://cdn.rawgit.com/konvajs/konva/0.13.0/konva.min.js' %>
    <%= html_import_tag 'application'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to('Se déconnecter', destroy_user_session_path) %>
        <%= link_to(current_user.email, edit_user_path(current_user)) %>
      <% else %>
        <%= link_to('Se connecter', new_user_session_path) %>
        <%= link_to('S\'inscrire', new_user_registration_path) %>
      <% end %>

      <input type="submit" value="&#9776;" onClick="javascript:event_hidden()" />
      <div>
        <input type="search" onkeyup="javascript:event_search()" placeholder="Chercher" autocomplete="off" />
        <input type="submit" value="&#10006;" onClick="javascript:event_clear_search()" />
      </div>

      <ul>
        <li><%= link_to('Document', papers_path) %></li>
        <li><%= link_to('Applications', projects_path) %></li>
        <li>
          <% if tree_index_path == request.original_fullpath %>
            <details open="open">
              <summary>
                <a onClick="document.querySelector('ktree-selector').start();">
                  Arbre des connaissances
                </a>
              </summary>
              <ul>
                <li>
                  <details>
                  <summary>
                    <a onClick="document.querySelector('ktree-def').start()">
                      Définir l'autisme
                    </a>
                  </summary>
                    <ul>
                      <li onClick="document.querySelector('ktree-manif').start()">Les principales manifestations</li>
                      <li onClick="document.querySelector('ktree-cmtra').start()">Comorbidités et troubles associés</li>
                      <li onClick="document.querySelector('ktree-etio').start()">Etiologie</li>
                    </ul>
                  </details>
                </li>
                <li onClick="document.querySelector('ktree-igc').start()">Les interventions globales et coordonnées</li>
              </ul>
            </details>
          <% else %>
            <%= link_to('Arbre des connaissances', tree_index_path) %></li>
          <% end %>
        <li>
          <% if journey_index_path == request.original_fullpath %>
            <details open="open">
              <summary><a onClick="document.querySelector('parkour-selector').start();">Parcour</a></summary>
              <ul>
                <li onClick="document.querySelector('parkour-diagnostiquePrecoce').start()">Diagnostique Précoce</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Diagnostique</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Génétique</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Bilan Ethiologique</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">MDPH</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Truc</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Machin</li>
              </ul>
            </details>
          <% else %>
            <%= link_to('Parcour', journey_index_path) %>
          <% end %>
        </li>
        </li>
        <li><%= link_to('Cartographie', structures_path) %></li>
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
            <li><%= link_to('User', users_path) %></li>
            <li><%= link_to('Language', languages_path) %></li>
            <li><%= link_to('Juridical', juridicals_path) %></li>
            <li><%= link_to('departement', departements_path) %></li>
          <% end %>
        <% end %>
        <li><%= link_to('À propos', author_index_path) %></li>
      </ul>
       <aside id="loutre">
       </aside>
    </nav>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
