<!DOCTYPE html>
<html>
<head>
  <title>Ref</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<ul>
			<li><a href="structures">structure</a></li>
			<li><a href="projects">project</a></li>
			<li><a href="papers">paper</a></li>
		</ul>
	</header>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
