<!DOCTYPE html>
<html>
  <head>
    <title>Ref</title>
    <link rel="icon" href="/assets/loutre/loutre neutre.svg">
    <%= javascript_include_tag 'https://cdn.rawgit.com/konvajs/konva/0.13.0/konva.min.js' %>
    <%= html_import_tag 'application'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav>
      <%= link_to(image_tag("interactblanc"), welcome_index_path) %>
      <% if user_signed_in? %>
        <%= link_to('Se déconnecter', destroy_user_session_path) %>
        <%= link_to(current_user.email, edit_user_path(current_user)) %>
      <% else %>
        <%= link_to('Se connecter', new_user_session_path) %>
        <%= link_to('S\'inscrire', new_user_registration_path) %>
      <% end %>

      <input type="submit" value="&#9776;" onClick="javascript:event_hidden()" />
      <div>
        <input type="search" onkeyup="javascript:event_search()" placeholder="Chercher" autocomplete="off" />
        <input type="submit" value="&#10006;" onClick="javascript:event_clear_search()" />
      </div>

      <ul>
        <li><%= link_to('Historique', histogram_index_path) %></li>
        <li><%= link_to('Documents', papers_path) %></li>
        <li><%= link_to('Applications', projects_path) %></li>
        <li>
          <% if tree_index_path == request.original_fullpath %>
            <details open="open">
              <summary>
                <a onClick="document.querySelector('ktree-selector').start();">
                  Arbre des connaissances
                </a>
              </summary>
              <ul>
                <!-- Debut Définir l'autisme -->
                <li>
                  <details class="bggreen" >
                  <summary style="border: 1px solid #373f52">
                    <a class="texmtktree" style="color: #373f52;" onClick="document.querySelector('ktree-def').start()">
                      Définir l'autisme
                    </a>
                  </summary>
                    <ul>
                      <!-- Debut Les principales manifestations -->
                      <li>
                        <details class="bggreen" >
                          <summary style="border: 3px solid #373f52">
                            <a class="textmktree" style="color: #373f52;" onClick="document.querySelector('ktree-manif').start()">
                              Les principales manifestations
                            </a>
                          </summary>
                          <ul>
                            <li class="textmktree" style="color: #373f52; border: 5px solid #373f52" onClick="document.querySelector('ktree-cominter').start()">Communication et interactions sociales</li>
                            <li class="textmktree" style="color: #373f52; border: 5px solid #373f52" onClick="document.querySelector('ktree-parcom').start()">Les particularités communes aux TSA</li>
                            <li class="textmktree" style="color: #373f52; border: 5px solid #373f52" onClick="document.querySelector('ktree-evotr').start()">Evolution des troubles</li>
                          </ul>
                        </details>
                      </li>
                      <!-- Fin Les principales manifestations -->
                      <!-- Debut Comorbidités et troubles associés -->
                      <li>
                        <details class="bggreen" >
                          <summary style="border: 3px solid #373f52">
                            <a class="textmktree" style="color: #373f52;" onClick="document.querySelector('ktree-cmtra').start()">
                              Comorbidités et troubles associés
                            </a>
                          </summary>
                          <ul>
                            <!-- Debut Comorbidités -->
                            <li>
                              <details class="bggreen" >
                                <summary style="border: 5px solid #373f52">
                                  <a class="textmktree" style="color: #373f52;" onClick="document.querySelector('ktree-cmb').start()">
                                    Comorbidités
                                  </a>
                                </summary>
                                <ul>
                                  <li class="textmktree" style="color: #373f52; border: 7px solid #373f52" onClick="document.querySelector('ktree-autrneuro').start()">Autres troubles neurodeveloppementaux (DSM-5)</li>
                                  <!-- Debut Troubles neuropsychiatrique -->
                                  <li>
                                    <details class="bggreen" >
                                      <summary style="border: 7px solid #373f52">
                                        <a class="textmktree" style="color: #373f52;" onClick="document.querySelector('ktree-trpsych').start()">
                                          Troubles neuropsychiatriques
                                        </a>
                                      </summary>
                                      <ul>
                                        <li class="textmktree" style="color: #373f52; border: 9px solid #373f52" onClick="document.querySelector('ktree-trpsych').start()">Troubles psychiatriques</li>
                                      </ul>
                                    </details>
                                  </li>
                                  <!-- Fin Troubles neuropsychiatrique -->
                                  <!-- Debut Anomalies génétiques et chrosomiques -->
                                  <li>
                                    <details class="bggreen" >
                                      <summary style="border: 7px solid #373f52">
                                        <a class="textmktree" style="color: #373f52;" onClick="document.querySelector('ktree-cmb').start()">
                                          Anomalies génétiques et chrosomiques
                                        </a>
                                      </summary>
                                      <ul>
                                        <li class="textmktree" style="color: #373f52; border: 9px solid #373f52" onClick="document.querySelector('ktree-syngenassoc').start()">Syndromes génétiques associées aux TSA</li>
                                        <li class="textmktree" style="color: #373f52; border: 9px solid #373f52" onClick="document.querySelector('ktree-cmb').start()">Anomalies chromosomiques mises en évidence chez des enfants avec TSA</li>
                                        <!-- Debut Maladies métaboliques -->
                                        <li>
                                          <details class="bggreen">
                                            <summary style="border: 9px solid #373f52">
                                              <a class="textmktree" style="color: #373f52;" onClick="document.querySelector('ktree-metabol').start()">
                                                Maladies métaboliques
                                              </a>
                                            </summary>
                                            <ul>
                                              <li class="textmktree" style="color: #373f52; border: 11px solid #373f52" onClick="document.querySelector('ktree-creat').start()">Déficits dans le métabolisme de la créatine</li>
                                            </ul>
                                          </details>
                                        </li>
                                        <!-- Fin Maladies métaboliques -->
                                      </ul>
                                    </details>
                                  </li>
                                  <!-- Fin Anomalies génétiques et chrosomiques -->
                                  <li class="textmktree" style="color: #373f52; border: 7px solid #373f52" onClick="document.querySelector('ktree-senso').start()">Troubles sensoriels : déficiences sensorielles</li>
                                </ul>
                              </details>
                            </li>
                            <!-- Fin Comorbidités -->
                          </ul>
                        </details>
                      </li>
                      <!-- Fin Comorbidités et troubles associés -->
                      <li class="textmktree" style="color: #373f52; border: 3px solid #373f52" onClick="document.querySelector('ktree-etio').start()">Etiologie</li>
                      <li class="textmktree" style="color: #373f52; border: 3px solid #373f52" onClick="document.querySelector('ktree-clas').start()">Classifications</li>
                    </ul>
                  </details>
                </li>
                <!-- Fin Définir l'autisme-->
                <!-- Debut demarches diagnostiques et outils validés d'évaluation-->
                <li>
                  <details class="bgyel" >
                  <summary>
                    <a class="textmktree" style="color: #373f52" onClick="document.querySelector('ktree-diagval').start()">
                      Démarche diagnostique et outils validés d’évaluation 
                    </a>
                  </summary>
                    <ul>
                      <li class="textmktree" style="color: #373f52" onClick="document.querySelector('ktree-voldemdiag').start()">Les trois volets de la démarche diagnostique</li>
                      <li class="textmktree" style="color: #373f52" onClick="document.querySelector('ktree-orgdemdiag').start()">L’organisation de la démarche diagnostique</li>
                    </ul>
                  </details>
                </li>
                <!-- Fin demarches diagnostiques et outils validés d'évaluation-->
                <!-- Debut Les Interventions globales et coordonnées-->
                <li>
                  <details class="bgblue">
                  <summary>
                    <a class="textkmtree" style="color: #373f52" onClick="document.querySelector('ktree-igc').start()">
                      Les interventions globales et coordonnées
                    </a>
                  </summary>
                    <ul>
                      <li class="textmktree" style="color: #373f52" onClick="document.querySelector('ktree-comorbpipgec').start()">Les programmes d’interventions personnalisés, globaux et coordonnés</li>
                      <li class="textmktree" style="color: #373f52" onClick="document.querySelector('ktree-fonc').start()">Les interventions par domaines fonctionnels</li>
                    </ul>
                  </details>
                </li>
                <!-- Fin Les Interventions globales et coordonnées-->
              </ul>
            </details>
          <% else %>
            <%= link_to('Arbre des connaissances', tree_index_path) %></li>
          <% end %>
        <li>
          <% if journey_index_path == request.original_fullpath %>
            <details open="open">
              <summary><a onClick="document.querySelector('parkour-selector').start();">Parcour</a></summary>
              <ul>
                <li onClick="document.querySelector('parkour-diagnostiquePrecoce').start()">Diagnostique Précoce</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Diagnostique</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Génétique</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Bilan Ethiologique</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">MDPH</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Truc</li>
                <li onClick="document.querySelector('parkour-diagnostique').start()">Machin</li>
              </ul>
            </details>
          <% else %>
            <%= link_to('Parcours', journey_index_path) %>
          <% end %>
        </li>
        </li>
        <li><%= link_to('Cartographie', structures_path) %></li>
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
            <li><%= link_to('User', users_path) %></li>
            <li><%= link_to('Language', languages_path) %></li>
            <li><%= link_to('Juridical', juridicals_path) %></li>
            <li><%= link_to('departement', departements_path) %></li>
          <% end %>
        <% end %>
        <li><%= link_to('À propos', author_index_path) %></li>
      </ul>
       <aside id="loutre">
       </aside>
    </nav>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
